---
layout: default
title: Home
---

{% include intro.html %}
<section class="post-list">
  <div class="container">
  	<h4><a href="{{site.url}}/about"><span style="background-color: #f7f7f7;color: #3885B5">[Research]</span></a> <a href="{{site.url}}/dinal_cv.pdf"><span style="background-color: #f7f7f7;color:#3885B5">[Curriculum Vitae]</span></a> </h4>
    <h3> Recent Publications </h3>
    <ul>
      <!--<li><strong>J. Dinal Herath</strong> and Anand Seetharam (2018). Analyzing Opportunistic Request Routing in Wireless Cache Networks.<span style="background-color: #e5e6e8"> <strong>`Accepted`</strong></span> to IEEE International Conference on Communications(ICC) 2018.</li>-->
      <li><strong>J. Dinal Herath</strong>, Anand Seetharam, Arti Ramesh (2019).<span style="background-color: #e5e6e8"><a href="{{site.url}}/papers/2019ICC.pdf">A Deep Learning Model for Wireless Channel Quality Prediction</a></span>. In: IEEE International Conference on Communications (ICC-2019).</li>
      <li><strong>J. Dinal Herath</strong> and Anand Seetharam (2018). <span style="background-color: #e5e6e8"><a href="{{site.url}}/papers/2018tvt.pdf">A Markovian Model for Analyzing Opportunistic Request Routing in Wireless Cache Networks</a></span>. In: IEEE Transactions in Vehicular Technology (TVT-2018).</li>
      <li><strong>J. Dinal Herath</strong> and Anand Seetharam (2018). <span style="background-color: #e5e6e8"><a href="{{site.url}}/papers/2018ICC.pdf">Analyzing Opportunistic Request Routing in Wireless Cache Networks</a></span>. In: IEEE International Conference on Communications (ICC-2018).</li>
    </ul>
    <h2> Recent Posts </h2>
    {% assign postCounter = 0 %}
    {% assign postLimit =5 %}
      {% for post in site.posts %}
        {% if postCounter < postLimit %}
          <article class="post-item">
            <span class="post-meta date-label">{{ post.date | date: "%y %b %d" }}</span>
            <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
          </article>
          {% assign postCounter = postCounter | plus: 1 %}
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
  </div>
</section>
