---
layout: default
title: Home
---

{% include intro.html %}
<section class="post-list">
  <div class="container">
  	<!--<h4><a href="{{site.url}}/about"><span style="background-color: #f7f7f7;color: #3885B5">[Research]</span></a> <a href="{{site.url}}/dinal_cv.pdf"><span style="background-color: #f7f7f7;color:#3885B5">[Curriculum Vitae]</span></a> </h4>-->
    <h3> Recent Publications </h3>
    <ul>
      <!--<li><strong>J. Dinal Herath</strong> and Anand Seetharam (2018). Analyzing Opportunistic Request Routing in Wireless Cache Networks.<span style="background-color: #e5e6e8"> <strong>`Accepted`</strong></span> to IEEE International Conference on Communications(ICC) 2018.</li>-->
      <li><span style="background-color: #e5e6e8"><a href="{{site.url}}/papers/2019BigData.pdf">RAMP: Real-Time Anomaly Detection in Scientific Workflows</a></span> by <strong>J. Dinal Herath</strong>, Changxin Bai, Guanhua Yan, Ping Yang, Shiyong Lu. In: IEEE International Conference on Big Data (2019).<a href="http://www.cs.binghamton.edu/~pyang/ramp_extended.pdf"><strong>[extended version]</strong></a> <strong>(Accepted)</strong></li>
      <li><span style="background-color: #e5e6e8"><a href="">SciBlock: A Blockchain-Based Tamper-Proof Non-Repudiable Storage for Scientific Workflow Provenance</a></span> by Dinuni Fernando, Siddharth Kulshrestha, <strong>J. Dinal Herath</strong>, Nitin Mahadik, Yanzhe Ma, Changxin Bai, Ping Yang, Guanhua Yan, Shiyong Lu. In: IEEE International Conference on Collaboration and Internet Computing (2019).<strong>(Accepted)</strong></li>
      <li><span style="background-color: #e5e6e8"><a href="{{site.url}}/papers/2019tvt.pdf">DeepChannel: Wireless Channel Quality Prediction using Deep Learning</a></span> by Adita Kulkarni, Anand Seetharam, Arti Ramesh, <strong>J. Dinal Herath</strong>. In: IEEE Transactions in Vehicular Technology(TVT) (2019).</li>
    </ul>
    <h3> Recent Blog Posts </h3>
    {% assign postCounter = 0 %}
    {% assign postLimit =5 %}
      {% for post in site.posts %}
        {% if postCounter < postLimit %}
          <article class="post-item">
            <span class="post-meta date-label">{{ post.date | date: "%y %b %d" }}</span>
            <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
          </article>
          {% assign postCounter = postCounter | plus: 1 %}
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
    <h3> Awards and Scholarships </h3>
    <ul>
      <li>Secure and Private AI scholarship Challenge Recipient by Udacity and Facebook. (2019)</li>
      <li>Student travel grant to attend ACM/IEEE Symposium on Architectures for Networking and Communications (ANCS-2018).</li>
      <li>NSF Student travel grant to attend International Conference on Communications (ICC-2018).</li>
      <li>Dr. Sarath Gunapala Gold Medal for Computational Physics (2017).</li>
      <li>MIND (Munasinghe Institute for Development) scholarship (2015-2016).</li>
    </ul>
    <h3> Research Experience </h3>
    <ul>
      <li>PhD Research and Collaborations [SUNY Binghamton, USA. (2018-present)]</li>
        <ol>
          <li> Real-Time and Advesarial Anomaly Detection </li>
          <li> Blockchain based tamper proof storage of Scientific Workflows</li>
        </ol>
      <li> Graduate Research Assistant [SUNY Binghamton, USA. (2017-2018)] </li>
        <ol>
          <li> Deep Learning for Wireless Channel Quality Prediction </li>
          <li> Modeling Opportunistic Routing in Wireless Cache Networks </li>
        </ol>
      <li> Simulating Snake Robot Movement [Undergraduate Reserach Project, University of Colombo, Sri Lanka.(2016-2017)] </li>
    </ul>
    <h3> Teaching Experience </h3>
    <ul>
      <li> Graduate Teaching Assistant, SUNY Binghamton, USA.</li>
        <ol>
          <li> CS 480N/580N : Data Science with Applications in Social Media (Fall-2019) </li>
          <li> CS 220 : Introduction to Computer Systems (Spring-2019) </li>
          <li> CS 428/528 : Computer Networks (Fall-2018) </li>
        </ol>
      <li> Assitant Lecturer, University of Colombo, Sri Lanka.(2017) </li>
    </ul>
  </div>
</section>