<section class="intro">
  <div class="container">
        <img src="/assets/img/image2.jpg" style="width:250px;padding:20px;border-radius:60px;" align="right">
        <br><br><!---->
        <p class="lead"><!--<img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Ayubowan.png" style="height:15px;" align="left"> -->My name is <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>. I am 
            <em itemprop = "greeting">{{site.author.greeting}}</em> a <strong itemprop="jobTitle">{{ site.author.job }}</strong>, where my current PHD research revolves around Interpretable and Adversarial Machine Learning.</p>           
            <p class="lead">I am interested in applied AI research problems revolving around anomaly detection, time series & graph tasks. I have experience with Machine Learning, Deep Learning and Reinforcement Learning. </p>
            <!--</strong> with a research focus in <strong class="author-name">Wireless Networks</strong>, <em itemprop = "greeting">I like everything from pokemon & manga to IoT & robotics.</em><!--Click here for more info about my <a href="http://dinalherath.com/about/">Research</a>-->
  </div>
</section>
