<section class="intro">
  <div class="container">
    <img src="/assets/img/IMG-20220109-WA0023.jpg" style="width:310px;padding:5px;border-radius:170px;" align="right">
    <br><br>
    <p class="lead">
      My name is <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>.
      I'm <em itemprop="greeting">{{site.author.greeting}}</em> currently a <strong itemprop="jobTitle">{{ site.author.job }}</strong>.
    </p>
    <p class="lead">
      I completed my <strong>PhD</strong> in Computer Science at State University of New York (SUNY) Binghamton, USA
      and <strong>Bachelor’s</strong> in Computational Physics at University of Colombo, Sri Lanka.
    </p>
  </div>
</section>
