<section class="intro">
  <div class="container">
        <img src="/assets/img/image.jpg" style="width:280px;padding:24px;border-radius:150px;" align="right">
        <br><br>
        <p class="lead"><!--<img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Ayubowan.png" style="height:15px;" align="left"> --> Hi !! I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>,
            <em itemprop = "greeting">{{site.author.greeting}}</em>. I'm a <strong itemprop="jobTitle">{{ site.author.job }}</strong> with a research focus in <strong class="author-name">Computer Networks</strong>, <em itemprop = "greeting">I like everything from pokemon & manga to IoT & robotics. </em></p>
  </div>
</section>
